/*Main containeri tüm html yapısını kapsıyor. Ölçülendirme , font ve renk düzeni yapıldı.Dairelerin dışa taşan kısımları kesildi.*/
main {
  display: flex;
  flex-flow: column wrap;
  width: 1350px;
  height: 1350px;
  background-color: rgb(247, 251, 252);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}
/*Link bağlantı özellikleri ayarlandı*/
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
/* Frame grup seçicisiyle yapı taslağı kuruldu*/
.frame {
  display: flex;
  flex-flow: column;
  align-self: center;
  background-image: linear-gradient(
    to right,
    rgb(233, 240, 248),
    rgba(248, 248, 242, 0.856)
  );
  width: 500px;
  height: 1000px;
}

/*Blue box id ile ilk mavi kutu css ayarı yapıldı*/
#blue-box {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: boldier;
  background-image: linear-gradient(
    to right,
    rgb(44, 117, 212),
    rgb(217, 226, 230)
  );
  overflow: hidden;
  color: aliceblue;
}

/*Mavi kutunun sağ tarafı düzenlendi*/
#bluebox-right {
  display: flex;
  flex-flow: wrap;
}

/*Mavi kutu içindeki daireler düzenlendi*/
#circleB1 {
  background-color: rgb(111, 174, 226);
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: -120px;
}

#circleB2 {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: rgb(111, 174, 226);
  margin-bottom: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#circleB3 {
  display: flex;
  justify-content: center;
  background-color: rgb(168, 213, 250);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: -20px;
}
/* Profil ve avatar img ayarlandı*/
.profile {
  width: 450px;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  margin: -100px 25px 25px;
  text-align: center;
}

/* Account setting dkısmı düzenlendi*/
.asetting {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 20px;
  margin: auto;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  list-style-type: none;
  text-align: center;
}

/* Privecy setting dkısmı düzenlendi*/
.psetting {
  width: 500px;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Background daki daireler düzenlendi.*/
#circleA1 {
  background-color: rgb(157, 217, 245);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 10%;
}

#circleA2 {
  background-color: rgb(111, 174, 226);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -180px;
  margin-left: 80%;
  display: flex;
  justify-self: flex-end;
}

#circleA3 {
  background-color: rgb(209, 234, 255);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  margin-top: -600px;
  margin-left: -70px;
}

#circleA4 {
  background-color: rgb(157, 217, 245);
  width: 250px;
  height: 250px;
  display: flex;
  align-self: flex-end;
  border-radius: 50%;
  margin-right: -40px;
  margin-top: 280px;
}
/*Avatar ayarları yapıldı*/
#avatar {
  width: 120px;
  border-radius: 50%;
  margin-top: -50px;
}

#less {
  margin: 20px;
}
h2,
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article > p {
  font-style: italic;
}

li:last-child {
  background-color: rgb(252, 253, 249);
}

a:hover {
  background-color: rgb(16, 27, 122);
}
